<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <!-- Basic app permissions -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <!-- Android 13+ notification permission -->
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />

    <!-- Android 11+ package visibility for social sharing and external apps -->
    <queries>

        <!-- WhatsApp / WhatsApp Business -->
        <package android:name="com.whatsapp" />
        <package android:name="com.whatsapp.w4b" />

        <!-- Telegram -->
        <package android:name="org.telegram.messenger" />
        <package android:name="org.thunderdog.challegram" />

        <!-- Facebook / Messenger -->
        <package android:name="com.facebook.katana" />
        <package android:name="com.facebook.orca" />

        <!-- X / Twitter -->
        <package android:name="com.twitter.android" />

        <!-- Instagram -->
        <package android:name="com.instagram.android" />

        <!-- Gmail -->
        <package android:name="com.google.android.gm" />

        <!-- Google Play Store -->
        <package android:name="com.android.vending" />

        <!-- WhatsApp scheme -->
        <intent>
            <action android:name="android.intent.action.VIEW" />
            <data android:scheme="whatsapp" />
        </intent>

        <!-- Telegram scheme -->
        <intent>
            <action android:name="android.intent.action.VIEW" />
            <data android:scheme="tg" />
        </intent>

        <!-- Facebook -->
        <intent>
            <action android:name="android.intent.action.VIEW" />
            <data android:scheme="fb" />
        </intent>

        <!-- Messenger -->
        <intent>
            <action android:name="android.intent.action.VIEW" />
            <data android:scheme="fb-messenger" />
        </intent>

        <!-- X / Twitter -->
        <intent>
            <action android:name="android.intent.action.VIEW" />
            <data android:scheme="twitter" />
        </intent>

        <!-- Instagram -->
        <intent>
            <action android:name="android.intent.action.VIEW" />
            <data android:scheme="instagram" />
        </intent>

        <!-- Google Play / market links -->
        <intent>
            <action android:name="android.intent.action.VIEW" />
            <data android:scheme="market" />
        </intent>

        <!-- HTTPS -->
        <intent>
            <action android:name="android.intent.action.VIEW" />
            <data android:scheme="https" />
        </intent>

        <!-- HTTP -->
        <intent>
            <action android:name="android.intent.action.VIEW" />
            <data android:scheme="http" />
        </intent>

        <!-- SMS -->
        <intent>
            <action android:name="android.intent.action.SENDTO" />
            <data android:scheme="sms" />
        </intent>

        <intent>
            <action android:name="android.intent.action.SENDTO" />
            <data android:scheme="smsto" />
        </intent>

        <!-- Email -->
        <intent>
            <action android:name="android.intent.action.SENDTO" />
            <data android:scheme="mailto" />
        </intent>

        <!-- Android native text sharing -->
        <intent>
            <action android:name="android.intent.action.SEND" />
            <data android:mimeType="text/plain" />
        </intent>

        <!-- Flutter text processing -->
        <intent>
            <action android:name="android.intent.action.PROCESS_TEXT" />
            <data android:mimeType="text/plain" />
        </intent>

    </queries>

    <application
        android:label="The Harvest Place Ja"
        android:name="${applicationName}"
        android:icon="@mipmap/launcher_icon"
        android:roundIcon="@mipmap/launcher_icon"
        android:usesCleartextTraffic="false">

        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:launchMode="singleTop"
            android:taskAffinity=""
            android:theme="@style/LaunchTheme"
            android:configChanges="orientation|keyboardHidden|keyboard|screenSize|smallestScreenSize|locale|layoutDirection|fontScale|screenLayout|density|uiMode"
            android:hardwareAccelerated="true"
            android:windowSoftInputMode="adjustResize">

            <meta-data
                android:name="io.flutter.embedding.android.NormalTheme"
                android:resource="@style/NormalTheme" />

            <meta-data
                android:name="flutter_deeplinking_enabled"
                android:value="true" />

            <!-- Main app launcher -->
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <!-- Password reset deep link: farm://reset-password -->
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:scheme="farm"
                    android:host="reset-password" />
            </intent-filter>

            <!-- Auth callback deep link: farm://auth-callback -->
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:scheme="farm"
                    android:host="auth-callback" />
            </intent-filter>

            <!-- Referral invite deep link: farm://invite -->
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:scheme="farm"
                    android:host="invite" />
            </intent-filter>

            <!-- Staff invite deep link: farm://staff-invite -->
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:scheme="farm"
                    android:host="staff-invite" />
            </intent-filter>

            <!-- Web referral link -->
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:scheme="https"
                    android:host="theharvestplaceja.com"
                    android:pathPrefix="/invite" />
            </intent-filter>

            <!-- Web staff invite link -->
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:scheme="https"
                    android:host="theharvestplaceja.com"
                    android:pathPrefix="/staff-invite" />
            </intent-filter>

        </activity>

        <!-- ========================================================= -->
        <!-- FIREBASE CLOUD MESSAGING DEFAULT NOTIFICATION APPEARANCE -->
        <!-- ========================================================= -->

        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@drawable/ic_stat_hpj_notification" />

        <meta-data
            android:name="com.google.firebase.messaging.default_notification_color"
            android:resource="@color/notification_green" />

        <!-- Flutter embedding -->
        <meta-data
            android:name="flutterEmbedding"
            android:value="2" />

    </application>

</manifest>
